body{
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.mapid { height: 180px; }

a{
  color: #929292;
}
.ic{vertical-align: -4px;}
.left-menu-item{
  list-style: none;
  margin-bottom:20px;
  color:#888888;
}
.search{ margin-top:40px;}
.input-group-addon{
  background-color: white;
  border:none;
  border:solid 1px #D6D6D6;
  border-right: none;
  box-shadow: none;
}
.input-group .form-control{
  border:none;
  background-color:white;
  border:solid 1px #D6D6D6;
  border-left: none;
}
.nav-pills>li {
  background-color: white;
  border-radius: 10px; 
  text-align: center;
  color:#01C216 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color:#095000 !important;
  background-color: white;
  border-radius: 10px; 
  border:0px solid white !important;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-cliente{
  margin:20px;
  width: 250px;
  background-color: white;
  border-radius: 10px; 
  border:1px solid #D6D6D6 !important;
  height: 100px;
}
.img-card-cliente{
  width: 60px;
  height: 60px;
  vertical-align: -65px;
 
}
.tittle-card-cliente{
  float: right;

}
.text-card-cliente{
  font-size: 10px;
}

.nav-top{
  background-color: white;
  border:none;
  box-shadow: 0 10px 20px rgba(216,216,216,0.09), 0 6px 6px rgba(216,216,216,0.09);
 
}
.logo{
  width: 180px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 20px;
}
.notificacion-numero{
  background-color: #72F535;
}
.rowLanding{
  text-align: center;
}
.navBar{
  /* Rectangle Copy 7: */
background-color:#12A3E9;
color:white !important;
}
.form-registro{
padding: 10px;
}
.regreso-ico{
  color: white;
}
.icon_bottomNav{
  text-align: center;
  cursor: pointer;
  color: #7E7E7E;
}
.icon_reportes{
  text-align: center;
  cursor: pointer;
  color: white;
}
.bottomNav{
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;

}

.reporte1 {
  animation-duration: 0.4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}